/* @import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100&display=swap'); */
.container {
  height: fit-content;
  width: fit-content;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 40px;
}
.card {
  position: relative;
  width: 290px;
  height: 350px;
  background: linear-gradient(
    to bottom,
    rgba(98, 106, 136, 0.2) 40%,
    rgba(46, 49, 73, 0.1) 100%
  );
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-style: none solid solid solid;
  border-color: rgba(236, 240, 255, 0.1);
  border-width: 2px;
}
.icon {
  position: relative;
  z-index: 1000;
  width: 100px;
  height: 100px;
  margin-bottom: -65px;
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
  border-radius: 50%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgba(236, 240, 255, 0.1);
  border-width: 2px;
}
.gap {
  position: relative;
  width: 120px;
  height: 80px;
  background: rgba(20, 23, 43, 1);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-style: solid;
  border-color: rgba(236, 240, 255, 0.1);
  border-width: 4px;
}
.gap::before {
  content: '';
  position: absolute;
  top: 0;
  left: -47px;
  width: 50px;
  height: 40px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 20px -20px 0 20px rgba(20, 23, 43, 1);
}
.gap::after {
  content: '';
  position: absolute;
  top: 0;
  right: -47px;
  width: 50px;
  height: 40px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -20px -20px 0 20px rgba(20, 23, 43, 1);
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: #ecf0ff;
}
.content .name {
  height: 31px;
  width: 231px;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
}
.content .info {
  position: relative;
  height: 40px;
  width: 242px;
  border-radius: 1rem;
  background-color: rgba(20, 23, 43, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ecf0ff;
  line-height: 31px;
}
.content .info > div:nth-of-type(2) {
  height: 31px;
  width: 30%px;
  display: flex;
  justify-content: center;
  padding-right: 30px;
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #00ffa3;
  line-height: 31px;
}
.content .info > div:nth-of-type(1) {
  height: 31px;
  width: 70%;
  display: flex;
  justify-content: center;
  padding-left: 35px;
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ecf0ff;
  line-height: 31px;
}
.img {
  height: 50px;
  width: 50px;
}
.img2 {
  padding: 5px;
  height: 22px;
  width: 22px;
}

body {
  background-color: rgba(20, 23, 43, 1);
}
